//Colors
@base-color: #312e2b;
@sub-color: #262421;
@button-color: #b06406;
@text-color: #ffffff;
@rock-color: #bd5746;
@paper-color: #da3074;
@scissor-color: #916f5e;
@win-color: #0a8a0a;
@tie-color: #00829b;
@loss-color: #ef0000;
@alert-color: #dc3545;


.clicked(@color) {
    background-color: mix(@color, #000000, 85%);
}

.highlight(@color) {
    background-color: mix(@color, #ffffff, 75%);
}

body {
    background-color: @base-color;
}

.navbar, .navbar-brand {
    background-color: @sub-color;
    padding-left: 10px;
    color: @text-color;
    &:hover {
        color: @text-color;
    }
}

.card-header {
    .clicked(@sub-color);
    color: @text-color;
    height: 50px;
    font-size: x-large;
}

.btn {
    background-color: @button-color;
    font-size: larger;
    color: @text-color;
    &:hover {
        .highlight(@button-color);
        color: @text-color;
    }

    &:first-child:active {
        .clicked(@button-color);
        color: @text-color;
    }
}

.nav-link {
    color: @text-color;
    &:hover, &:visited {
        color: @text-color;
    }
}

.vr, #ProfileIcon {
    margin-right: 20px;
}

#Profile-Text {
    @media only screen and (max-width: 400px) {
        font-size: 0px;
    }
}

.home-center {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 50px;
    @media only screen and (max-width: 700px) {
        margin-top: 25px;
    }
    .home-column {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        column-gap: 15px;
        width: 200px;
        @media only screen and (max-width: 700px) {
            grid-column: auto;
            display: grid;

            #CardOne {
                grid-column: 1;
                width: 167.5px;
            }

            #CardTwo {
                grid-column: 2;
                width: 167.5px;
            }
        }
        
        @media only screen and (max-width: 350px) {
            grid-column: auto;
            display: grid;

            #CardOne {
                grid-column: 1;
                width: 117.5px;
            }

            #CardTwo {
                grid-column: 2;
                width: 117.5px;
            }
        }
    }

    #Grid-Right {
        grid-column: 2/3;
        width: 450px;
        .card-body {
            height: 325px;
        }
        @media only screen and (max-width: 700px) {
            grid-column: 1/2;
            grid-row: 2;
            width: 350px;
        }

        @media only screen and (max-width: 350px) {
            grid-column: 1/2;
            grid-row: 2;
            width: 250px;
        }
    }
}

.card {
    background-color: @sub-color;
    border: #000000;
    border-radius: 20px;
}

.card-body {
    color: @text-color;
    padding: 0;
    margin: 0;
}

.card-button {
    background-color: @sub-color;
    &:hover {
        background-color: @sub-color;
        color: @text-color;
    }

    &:first-child:active {
        .clicked(@sub-color);
        color: @text-color;
    }
}

.flexform {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.form-text {
    color: @text-color;
}

label {
    font-size: large;
    @media only screen and (max-width: 700px) {
        display: none;
    }
}

#Login-Form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
    align-items: center;
    gap: 35px;
    @media only screen and (max-width: 700px) {
        gap: 10px;
    }
}

#Profile-Buttons {
    #Login-Form();
    padding-top: 20px;
}

.centered-container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @text-color;
    margin-top: 5vh;
}

.match-text {
    color: @text-color;
    text-align: center;
    margin-bottom: 3vh;
    h3 {
        margin-top: 10vh;
    }
}

.match-moves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .move-btn {
        padding: 20px 15px;
        font-size: 5vw;
        border-radius: 10px;
        width: 30vw;
        margin: 5px;
    }
}

.rock-btn {
    background-color: @rock-color !important;
}
.paper-btn {
    background-color: @paper-color !important;
}
.scissor-btn {
    background-color: @scissor-color !important;
}

.match-submit {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

    .lock-btn {
        padding: 20px 15px;
        font-size: 5vw;
        border-radius: 10px;
        width: 28vw;
        border-color: #ef0000;
        border-width: 2px;
        background-color: #9393a4;
        &:hover {
            background-color: #ef0000;
        }
    }

    .forfeit-btn {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
    }
}

.usage-per, .wl-per {
    text-align: center;
    width: 80%;
}

.usage-per {
    margin-top: 5vh;
    padding-block: 3vh;
}

.progress {
    height: 5vh;
    margin-block: 3vh;
}

.win {
    background-color: @win-color;
}

.loss {
    background-color: @loss-color;
}

.tie {
    background-color: @tie-color;
}

.alert-danger {
    background-color: @alert-color;
    border-color: @alert-color;
    color: @text-color;
}
